<div class="container">
    <div class="contact">
      <header>
          <h2>
              Contact me
          </h2>
      </header>
      <div class="intro">
          <p>
              If you are interested in my services, please do not hesitate to contact me. I would love to discuss with you your photography project and how I can help you capture the most important moments of your life.
          </p>
              
      </div>
      <div class="data">
          <div class="card">
          
              <div class="card-container">
               
          
                  <div class="card-title">
                          <h2>Visit Office</h2>
                  </div>
                  
                  <div class="card-text">
          
                      <p> Greater Chicago Area USA</p>
          
                  </div>
              </div>
                  
          </div>
      
          <div class="card">
              
              <div class="card-container">
               
          
                  <div class="card-title">
                          <h2>Email</h2>
                  </div>
                  
                  <div class="card-text">
          
                      <p> andialyse10@gmail.com</p>
          
                  </div>
              </div>
                  
          </div>
      
      
          <div class="card">
              
              <div class="card-container">
               
          
                  <div class="card-title">
                          <h2>Call Me On</h2>
                  </div>
                  
                  <div class="card-text">
          
                      <p> 18472260615</p>
          
                  </div>
              </div>
                  
          </div>
      </div>
    </div>
  
  </div>