
:host{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    
} 



.container{
    width: 98%;
    height: 97%;

  

   

   
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

header{
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 26px;
}

.intro{
    width: 80%;
    text-align: center;

    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
    font-weight: 300;
    color:  var(--secundary-color);
    margin-bottom:3%
}

.data{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
    width: 25%;
    height: 25vh;
  
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
/*
    border-width: 3px;
    border-color: #21d5c4;
    border-left-style: solid;

    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);*/

}

.card-container{
    width: 80%;
    height: 98%;
    border-radius: 14px;
    /* border-top-right-radius: 22px; */
    text-align: center;
    /* position: relative; */
    /* background-color: #DC6F4C; */
    border-color: var(--primary-border-color);
    border-style: solid;

}




.card-title{
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    word-break: break-word;
    color:  var(--primary-color);
}

.card-text{
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-word;
    padding-top: 8%;
    color:  var(--secundary-color);
}


@media only screen and (max-width: 768px){
    .card{
        width: 80%;}
  }