<div class="container">
    <div class="about">
        <header>
            <h2>
                About me
            </h2>
        </header>
        <div class="biography">
            <p>
                My name is Kara  , I am a photographer with a passion for capturing extraordinary moments in life. I fell in love with photography when I was young and first saw the ability to capture and share unique moments that will never be repeated. Since then, I have been exploring the beauty and complexity of the world through my camera. I believe that photography is a powerful tool to connect people and to show the diversity and richness of humanity. My passion for photography has taken me to incredible places and has allowed me to meet wonderful people. Through my lens, I hope to inspire others to explore and find beauty in their own world.
            </p>
        </div>
        <div class="data">


            <div class="card">
                
                <div class="card-container">
                 
            
                    <div class="card-title">
                            <h2>Full Name</h2>
                    </div>
                    
                    <div class="card-text">
            
                        <p> Kara Penrod</p>
            
                    </div>
                </div>
                    
            </div>


            <div class="card">
                
                <div class="card-container">
                 
            
                    <div class="card-title">
                            <h2>Birthday</h2>
                    </div>
                    
                    <div class="card-text">
            
                        <p>23/09/1992</p>
            
                    </div>
                </div>
                    
            </div>

            <div class="card">
        
                <div class="card-container">
                 
            
                    <div class="card-title">
                            <h2>Address</h2>
                    </div>
                    
                    <div class="card-text">
            
                        <p> White Lake, Michigan, USA</p>
            
                    </div>
                </div>
                    
            </div>
        
       
        
        
            <div class="card">
                
                <div class="card-container">
                 
            
                    <div class="card-title">
                            <h2>Phone</h2>
                    </div>
                    
                    <div class="card-text">
            
                        <p> 2488045757</p>
            
                    </div>
                </div>
                    
            </div>


            

        </div>
    </div>
</div>
