
<div class="container">
    <div class="gallery">
        <div class="display">

            <ul class="display-img">
                <li (click)="changeHide('carousel')">
                    <div class="icon">
                        <svg height="100%" viewBox="0 0 21 21" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 5)">
                                <path d="m12.5.5h-8.00000001c-1.1045695 0-2 .8954305-2 2v6c0 1.1045695.8954305 2 2 2h8.00000001c1.1045695 0 2-.8954305 2-2v-6c0-1.1045695-.8954305-2-2-2z"/><path d="m16.5.5v10"/><path d="m.5.5v10"/>
                            </g>
                        </svg>
                    </div>
                </li>
                <li (click)="changeHide('grid')">
                    <div class="icon">
                        
                        <svg width="100%" height="100%" viewBox="0 0 75 75" version="1.1" id="svg4"  xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                        
                            <path
                                d="M 0,0 V 75 H 75 V 0 Z M 24,72 H 3 V 51 H 24 Z M 24,48 H 3 V 27 H 24 Z M 24,24 H 3 V 3 H 24 Z M 48,72 H 27 V 51 H 48 Z M 48,48 H 27 V 27 H 48 Z M 48,24 H 27 V 3 H 48 Z M 72,72 H 51 V 51 H 72 Z M 72,48 H 51 V 27 H 72 Z M 72,24 H 51 V 3 h 21 z"
                                id="path2" />
                            </svg>

                    </div>
                </li>
                <!---
                <li>
                    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 5)">
                            <path d="m12.5.5h-8.00000001c-1.1045695 0-2 .8954305-2 2v6c0 1.1045695.8954305 2 2 2h8.00000001c1.1045695 0 2-.8954305 2-2v-6c0-1.1045695-.8954305-2-2-2z"/><path d="m16.5.5v10"/><path d="m.5.5v10"/>
                        </g>
                    </svg>
                </li>
                <li>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <g>
                            <path d="M9.4,43h31c1.4,0,2.5-1.1,2.5-2.5v-31c0-1.4-1.1-2.5-2.5-2.5h-31C8.1,7,6.9,8.1,6.9,9.5v31C6.9,41.9,8,43,9.4,43z M11.9,12
                                h26v26h-26V12z"/>
                            <path d="M59.4,43h31c1.4,0,2.5-1.1,2.5-2.5v-31c0-1.4-1.2-2.5-2.5-2.5h-31c-1.4,0-2.5,1.1-2.5,2.5v31C56.9,41.9,58,43,59.4,43z
                                M61.9,12h26v26h-26V12z"/>
                            <path d="M40.5,57h-31C8.1,57,7,58.1,7,59.5v31C7,91.9,8.1,93,9.5,93h31c1.4,0,2.5-1.1,2.5-2.5v-31C43,58.1,41.9,57,40.5,57z M38,88
                                H12V62h26V88z"/>
                            <path d="M90.5,57h-31c-1.4,0-2.5,1.1-2.5,2.5v31c0,1.4,1.1,2.5,2.5,2.5h31c1.4,0,2.5-1.1,2.5-2.5v-31C93,58.1,91.8,57,90.5,57z
                                M88,88H62V62h26V88z"/>
                        </g>
                    </svg>   <button (click)="changeHide()">display</button>
                </li>--->
            </ul>
           
        </div>
        <header>
            <h2>
                My Portfolio
            </h2>
        </header>
        
        <div class="data" *ngIf="hideGrid">
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/portrait.jpg \')'}">
                <!--<img src="assets/colorful.jpg"   alt="">   [ngStyle]="{'background-image': 'url(\''+ item.color.catalogImageLink + '\')'}"--> 
            </div>
    
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/hand.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
            
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/portrait2.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
    
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/wedding.jpg \')'}">
               <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
    
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/colorful.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
    
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/portrait2.jpg \')'}">
              <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
    
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/wedding3.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/portrait.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/colorful.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
            <div class="img" [ngStyle]="{'background-image': 'url(\'assets/portrait2.jpg \')'}">
                <!--<img src="assets/images 35.jpg" alt="">--> 
            </div>
        </div>

        <div class="data2" *ngIf="hideCarousel">
            <app-carrusel></app-carrusel>
        </div>
        
     
    </div>

   
  
</div>
