.header{
    /*height: 14vh;*/
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.fullname{
    
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: calc(3em + 1vw);
    font-weight: 900;
  }
  .profession{
    font-size: calc(0.6em + 1vw);
    font-weight: 900;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
  }

  .profession span{
    color: var(--primary-color);
  }
  .intro{
    font-size: calc(0.3em + 1vw);
    padding-bottom: 1%;
  }


  .social-links{

    list-style: none; /* Quita los marcadores predeterminados de la lista */
    width: 100%;
    padding-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: #000;*/

  }

  .social-links li{
    padding: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .social-links li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  svg{
    fill: var(--primary-color);
}

nav{
    width: 100%;
  }



  
  
  
  
  .menu-links {
      /* Estilos para la lista de enlaces del menú */
      list-style: none; /* Quita los marcadores predeterminados de la lista */
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: calc(0.1em + 0.4vw);
    /*
      border-width: 0.1px;
      border-color: #5858586e;
      border-top-style: solid;*/
     
    }
    .menu-links li {
      /* Estilos para cada elemento de la lista */
      padding-left: 1%;
      padding-right: 1%;
      height: 6vh;
      
  /*
      border-width: 0.1px;
      border-color: #5858586e;
      border-bottom-style: solid;*/
    }
    .menu-links a {
      /* Estilos para los enlaces */
      height: 100%;
      text-decoration: none;
      color: var(--tertiary-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      justify-content: center;
    font-size: calc(0.7em + 1vw);
    }

    @media only screen and (max-width: 1058px){
      .menu-links {
        font-size: calc(0.1em + 0.9vw);
       
      }

      .profession{
        font-size: calc(0.9em + 1vw);
        
      }

      .intro{
        font-size: calc(0.6em + 1vw);
       
      }
    }

    @media only screen and (max-width: 900px){
      .menu-links {
        font-size: calc(0.7em + 0.9vw);
       
      }

      .intro{
        font-size: calc(0.7em + 1vw);
       
      }
    
    }

    @media only screen and (max-width: 668px){
      .menu-links {
        font-size: calc(1em + 1vw);
       
      }

      .profession{
        font-size: calc(1em + 1vw);
        
      }
      .intro{
        font-size: calc(0.8em + 1vw);
        padding: 3%;
      }
    
    }

    @media only screen and (max-width: 568px){
      .menu-links {
        font-size: calc(0.9em + 1vw);
       
      }
      .intro{
        font-size: calc(1em + 1vw);
      }
    
    }

    @media only screen and (max-width: 468px){
      .menu-links {
        font-size: calc(0.7em + 1vw);
       
      }
    
    }
