:host{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  
    
} 



.container{
    width: 98%;
    height: 97%;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
   
}


.icon{
    display: none;
position: absolute;
top: 0%;
left: 0%;
height: 29px;
    margin-left: 1%;
    margin-top: 1%;
}

.icon svg{
    fill:var(--primary-color)
}


.screen{
    position: absolute;
    height: 100vh;
    font-size: 400px;
    font-weight: 900;
    color: #1113188c;
    padding-left: 30%;
}


.intro{
    height: 100%;
    font-size: calc(5em + 1vw);
    font-weight: 900;
    /*
    background: linear-gradient(126deg, rgba(0,0,0,1) 0%, rgba(97,241,227,1) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;*/
    color: var(--primary-color);
    z-index: 10;

    text-align: center;
}

.fullname{
    color: var(--secundary-color);
}
.specialty{
    font-size: calc(0.8em + 1vw);
    padding-top: 13px;
    text-align: center;
    color: var(--secundary-color);
}
.initial{
    color: var(--primary-color);
}



.button{
    height: 7vh;
    width: 12vw;
    margin-top: 24px;
    z-index: 10;
}
button{
    height: 100%;
    width: 100%;
   
    border-color: var(--primary-border-color);
    border-style: solid;
    background: var(--primary-bg-color);
    font-weight: 900;
    color: var(--primary-color);
   
}


@media only screen and (max-width: 900px){
    .intro{
       
        font-size: calc(4em + 1vw);
       
    
      
    }
    .button{
        height: 8vh;
        width: 22vw;
       
    }
  }


  @media only screen and (max-width: 668px){
    .icon{
       display: none;
        }

        .button{
            
            width: 26vw;
           
        }
  
  
  }

  @media only screen and (max-width: 568px){
    .screen{
       
        font-size: 300px;
       
    }
    .intro{
        
        font-size: calc(3em + 1vw);
        
    }
    .button{
            
        width: 32vw;
       
    }
  
  
  }