
:host{
   

    display:flex;
    flex-direction: column;
    align-items:center;

    margin-left: 7px;
    margin-right: 7px;

  
}

.avatar-img{

    width: 115px;
    height: 115px;
    border-radius: 50%;
    
    font-size: 150%;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    background-color: var(--primary-bg-color)

    
}

img{
    height:100%;
    width: 100%;
}