/* You can add global styles to this file, and also import other style files */
* {margin: 0;padding: 0;}  


/*-----------------------------------------------------------------------*/
:root {
  --primary-bg-color:#14080E;/* #171A21;*/
  --secundary-bg-color:#F2A541; /*#C08552;/*#DC6F4C;/*#92BCEA;*/

  --primary-color: var(--secundary-bg-color);
  --secundary-color:#ececec;
  --tertiary-color:var(--primary-bg-color);

  --primary-border-color:var(--secundary-bg-color);

  --primary-bgCard-color:#14080E;/*#1d2026;*/
  
}


/*-----------------------------------------------------------------------*/




body {
    --scrollbar-background: var(--secundary-bg-color);
  }


body::-webkit-scrollbar {    /*esto es para la parte de atras del scroll*/
    background: var(--primary-bg-color);
    width: 10px;
}

body::-webkit-scrollbar-thumb { /*esta es la barra que se desplaza*/
    background-color: var(--scrollbar-background);
    border-radius: 20px;     
   
  }



/*-----------------------------------------------------------------------*/

  
